@font-face{
	font-family: "Cuprum";
	src: url("../fonts/cuprum.woff") format("woff"),
			url("../fonts/cuprum.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: "Cuprum";
	src: url("../fonts/cuprumbold.woff") format("woff"),
			url("../fonts/cuprumbold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: "Cuprum";
	src: url("../fonts/cuprumitalic.woff") format("woff"),
			url("../fonts/cuprumitalic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff") format("woff"),
			url("../fonts/ptsans.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: "PT Sans";
	src: url("../fonts/ptsansbold.woff") format("woff"),
			url("../fonts/ptsansbold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	text-align: center;
	background-color: #ffffff;
	margin: 0;
}

a {
	text-decoration: none;
}

.center-aligned {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}

.red-button {
	display: inline-block;
	max-width: 500px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	padding: 11px 10px 9px 10px;
	background-color: #ee3643;
	border-radius: 2px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

/***************************************************************** header */
.main-header-prime {
	position: relative;
	background-color: #293449;
}

.main-header-other {
	min-width: 960px;
	background-color: #f4f7f9;
	padding: 46px 0 60px 0;
}

.main-header-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	min-height: 42px;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	background-color: #293449;
}

.main-header-info a {
	color: #ffffff;
}

.main-header-logo {
	display: block;
	width: 110px;
	min-height: 100%;
	background-color: #ee3643;
	padding: 12px 55px 7px 55px;
	-webkit-box-shadow: 0 5px 0 0 #b72a32;
			box-shadow: 0 5px 0 0 #b72a32;
}

.main-header-search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
	width: 270px;
	padding: 0;
}

.main-header-search-text {
	font-family: "Cuprum", "Arial", sans-serif;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	color: #ffffff;
	background-color: #293449;
	border: none;
	width: 200px;
	padding: 10px;
	padding-left: 0;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	vertical-align: top;
}

.main-header-search-text::-webkit-input-placeholder {
	color: #ffffff;
}

.main-header-search-text:-ms-input-placeholder {
	color: #ffffff;
}

.main-header-search-text::-ms-input-placeholder {
	color: #ffffff;
}

.main-header-search-text::placeholder {
	color: #ffffff;
}

.main-header-search svg {
	-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
			order: -1;
	padding: 12px 0 13px;
}

.main-header-bookmarks {
	position: relative;
	display: block;
	min-width: 105px;
	padding: 12px 0 12px 45px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.main-header-bookmarks::before {
	content: "";
	background-image: url("../img/icon-bookmark.svg"); 
	background-repeat: no-repeat;
	position: absolute;
	width: 14px;
	height: 16px;
	left: 17px;
	opacity: 0.3;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.main-header-cart {
	position: relative;
	display: block;
	min-width: 100px;
	padding: 12px 0 12px 50px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.main-header-cart::before {
	content: "";
	background-image: url("../img/icon-cart.svg"); 
	background-repeat: no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 17px;
	opacity: 0.3;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.full-cart {
	background-color: #ee3643;
}

.main-header-order {
	display: block;
	min-width: 110px;
	background-color: #63a63e;
	padding: 12px 20px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.main-header-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
	margin-bottom: 34px;
}

.main-header-center h1,
.main-header-center p {
	width: 197px;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	text-align: left;
	line-height: 23px;
	color: #ee3643;
	padding: 3px 21px 6px 52px;
	margin: 0;
}

.main-header-contacts {
	width: 270px;
	padding: 0 50px;
}

.main-header-phone {
	position: relative;
	display: inline-block;
	width: 183px;
	font-size: 21px;
	text-align: left;
	line-height: 21px;
	vertical-align: middle;
	color: #ee3643;
	border: solid 3px #ffffff;
	padding: 9px 10px 10px 71px;
}

.main-header-phone::before {
	content: "";
	background-image: url("../img/icon-phone.svg"); 
	background-repeat: no-repeat;
	position: absolute;
	width: 19px;
	height: 19px;
	left: 11px;
}

.main-header-address {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	line-height: 24px;
	color: #32425c;
	padding: 3px 0;
}

.main-header-authorization {
	width: 300px;
	font-size: 21px;
	line-height: 21px;
	text-align: left;
}

.main-header-authorization-non {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
	width: 100%;
}

.main-header-authorization-login,
.main-header-authorization-reg {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	padding: 12px 5px 13px 5px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.main-header-authorization-login {
	position: relative;
	width: 64px;
	padding-left: 40px;
	padding-right: 17px;
}

.main-header-authorization-login::before {
	content: "";
	background-image: url("../img/icon-login.svg"); 
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 17px;
	left: 14px;
	top: 13px;
	opacity: 0.23;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.main-header-authorization-reg {
	width: 140px;
	color: #000000;
	background-color: #ffffff;
	margin-left: 10px;
}

.main-header-authorization-yes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	width: 100%;
}

.main-header-authorization-user {
	position: relative;
	display: inline-block;
	width: 200px;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	vertical-align: middle;
	padding: 12px 10px 13px 40px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.main-header-authorization-user::before {
	content: "";
	background-image: url("../img/icon-user.svg"); 
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 18px;
	left: 14px;
	top: 13px;
	opacity: 0.23;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.main-header-authorization-logout {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	width: 50px;
	background-color: #ffffff;
}

.main-header-authorization-logout::before {
	content: "";
	background-image: url("../img/icon-logout.svg"); 
	background-repeat: no-repeat;
	position: absolute;
	width: 20px;
	height: 18px;
	left: 19px;
	top: 13px;
	opacity: 0.23;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.main-header-authorization:not(.authorized) .main-header-authorization-yes,
.main-header-authorization:not(.authorized) .main-header-authorization-links {
	display: none;
}

.authorized .main-header-authorization-non {
	display: none;
}

.main-header-authorization-links {
	margin-top: 3px;
}

.main-header-authorization-links a {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
	text-decoration: underline;
	color: #000000;
	margin: 0 10px 0 18px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.main-header-authorization-links a:first-child::after{
	content: "";
	position: absolute;
	top: 8px;
	right: -20px;
	width: 4px;
	height: 4px;
	background-color: #32425c;
	border-radius: 4px;
}

.main-navigation {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	-webkit-box-shadow: inset 0 -5px 0 0 #293449;
			box-shadow: inset 0 -5px 0 0 #293449;
}

.main-navigation ul {
	list-style: none;
}

.main-navigation-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	padding: 0 25px 3px 22px;
	margin: 0;
}

.main-navigation-list a {
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	padding: 20px 30px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

/***************************************************************** features */
.features {
	margin-top: 59px;
	margin-bottom: -20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.features-section-left,
.features-section-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-ms-flex-line-pack: start;
		align-content: flex-start;
}

.features-section-left {
	width: 620px;
	margin-right: 20px;
}

.features-section-right {
	width: 300px;
}

.features-item {
	width: 170px;	
	background-color: #ffffff;
	position: relative;
	margin-bottom: 20px;
	padding: 21px 108px 22px 22px;
}

.features-item h3 {
	width: 155px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
	text-align: left;
	margin: 0;
	padding: 0;
}

.features-item a {
	display: block;
	width: 115px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	padding: 11px 10px 9px 10px;
	margin: 12px 0 0 2px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 2px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.item-1 {
	background-color: #ffbf47;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 213px 31px;
	background-size: 44px 65px;
}

.item-2 {
	background-color: #3bbce3;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 197px 33px;
	background-size: 75px 61px;
}

.item-3 {
	background-color: #dc91d8;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 191px 31px;
	background-size: 78px 62px;
}

.item-4 {
	background-color: #8ed78f;
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 196px 26px;
	background-size: 59px 72px;
}

.item-5 {
	background-color: #ffc047;
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 191px 32px;
	background-size: 78px 63px;
}

.new::before {
	content: "";
	position: absolute;
	width: 60px;
	height: 59px;
	background-color: transparent;
	background-image: url("../img/new.png");
	right: 0;
	top: 0;
	z-index: 2;
}

.features-slider {
	position: relative;
	width: 620px;
	height: 266px;
	background-color: #333333;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
	margin-bottom: 20px;
}

.features-slider-item {
	margin: 0;
	padding: 0;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
}

.features-slider-item h3 {
	display: block;
	width: 100%;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	text-align: left;
	margin: 2px 0;
	padding: 0;
}

.features-slider-item p {
	display: block;
	width: 100%;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	text-align: left;
	margin: 0;
	padding: 0;
}

.features-slider-item a {
	min-width: 175px;
	margin-top: auto;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.features-slider-list {
	position: absolute;
	margin: 0;
	padding: 22px 25px;
	list-style: none;
	width: 570px;
	height: 222px;
	text-align: left;
}

.features-slider-list ul{
	margin: 0;
	padding: 0;
	height: 100%;
}

.slide1,
.slide2 {
	display: none;
}

.features-slider-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	position: absolute;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 100%;
	bottom: 86px;
	z-index: 2;
	font-size: 0;
	padding: 25px;
	padding-right: 20px;
}

.features-slider-buttons label {
	display: block;
	width: 22px;
	height: 40px;
	background-color: transparent;
	cursor: pointer;
}

.features-slider-buttons label[for="slide-1"] {
	background-image: url("../img/icon-left.svg");
}

.features-slider-buttons label[for="slide-2"] {
	background-image: url("../img/icon-right.svg");
}

.features-slider-controls {
	position: absolute;
	bottom: 25px;
	left: 295px;
	z-index: 2;
	font-size: 0;
}

.features-slider-controls label {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 10px;
	vertical-align: top;
	background-color: white;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.features-slider-container {
	width: 620px;
	height: 266px;
	background-color: #333333;
	background-image: url("../img/features-slide-image-1.jpg");
}

.slide-1:checked ~ .features-slider-list .slide1,
.slide-2:checked ~ .features-slider-list .slide2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.slide-1:checked ~ .features-slider-controls label[for="slide-1"],
.slide-2:checked ~ .features-slider-controls label[for="slide-2"] {
	background-color: red;
}

.slide-1:checked ~ .features-slider-list {
	background-image: url("../img/features-slide-image-1.jpg");
}

.slide-2:checked ~ .features-slider-list {
	background-image: url("../img/features-slide-image-2.jpg");
}

/***************************************************************** popular items */
.popular-items {
	margin-top: 53px;
}

.popular-header {
	min-height: 38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	background-color: #f9f5f0;
	padding: 26px 24px 25px 28px;
	margin-bottom: 20px;
}

.popular-header h2 {
	max-width: 540px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
	text-align: left;
	margin: 0;
	margin-right: 20px;
}

.popular-header a {
	width: 233px;
}

.items-list {
	width: 100%;
}

.list-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: -20px;
	overflow: hidden;
}

.item {
	position: relative;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	font-family: "PT Sans", "Arial", sans-serif;
	width: 220px;
	min-height: 318px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	border: solid 1px #eaeaea;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-bottom: 21px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.item h3 {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 100%;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #000000;
	text-align: center;
	margin: 0;
	margin-top: 8px;
	padding: 0 10px;
}

.item-price {
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	color: #a9a9a9;
	text-align: center;
	text-transform: uppercase;
	text-decoration: line-through;
	margin: 11px 0 5px 0;
	padding: 0 15px;
}

.item-discount {
	position: relative;
	width: 88px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	text-align: left;
	padding: 10px 0 10px 35px;
	background-color: #ee3643;
	border-radius: 2px;
	margin: auto 36px 0 25px;
}

.item-discount::after {
	position: absolute;
	content: "";
	top: 0;
	right: -18px;
	border: 19px solid #ee3643;
	border-right-width: 0;
	border-left-color: #ee3643;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.item + .new::before {
	right: -1px;
	top: -1px;
	z-index: 10;
}

.item-actions {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: calc(100% - 100px);
	padding-top: 43px;
	background-color: #ffffff;
	z-index: 5;
}

.item-buy,
.item-bookmark {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 135px;
	margin: 0 auto 7px;
	padding: 7px 25px;
	background-color: #63a63e;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	border-radius:3px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.item-buy::before {
	content: "";
	background-image: url("../img/icon-cart.svg"); 
	background-repeat: no-repeat;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 10px;
	opacity: 0.3;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}
	
.item-bookmark {
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

/***************************************************************** popular brands*/
.popular-brands-list {
	width: 100%;
}

.popular-brand {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 220px;
	height: 145px;
	border: solid 1px #eaeaea;
	margin-bottom: 20px;
	margin-right: 20px;
}

.popular-brand a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

/***************************************************************** services*/
.services {
	min-height: 522px;
	min-width: 960px;
	background-color: #f4f7f9;
	margin-top: 65px;
}

.services-container {
	padding-top: 66px;
}

.services h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	margin-bottom: 25px;
}

.services p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	text-align: left;
	margin: 0;
}

.services-block {
	margin-top: 70px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.services-buttons {
	position: relative;
	width: 240px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
}

.services-buttons::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 279px;
	background-color: transparent;
	background-image: url("../img/shadow.png");
	right: 0;
	top: -46px;
	z-index: 7;
}

.services-buttons label {
	display: block;
	background-color: #32425c;
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	text-align: left;
	color: #ffffff;
	padding: 14px 23px 16px 22px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.services-slider-list {
	min-height: 285px;
	padding-left: 80px;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	background-repeat: no-repeat;
	background-position: bottom right; 
}

.services-slider-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.services-slider-item h3 {
	width: 300px;
	font-size: 36px;
	line-height: 34px;
	font-weight: 400;
	text-align: left;
	color: #32425c;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 25px;
}

.services-slider-item p {
	width: 379px;
	margin: 0;
}

.services-slider-item a {
	display: block;
	width: 175px;
	margin-top: 31px;
}

.service1,
.service2,
.service3 {
	display: none;
}

.service-1:checked ~ .services-slider-list .service1,
.service-2:checked ~ .services-slider-list .service2,
.service-3:checked ~ .services-slider-list .service3 {
	display: block;
}

.service-1:checked ~ .services-buttons label[for="service-1"],
.service-2:checked ~ .services-buttons label[for="service-2"],
.service-3:checked ~ .services-buttons label[for="service-3"] {
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	background-color: #ffffff;
	color: #32425c;
}

.service-1:checked ~ .services-slider-list {
	background-image: url("../img/delivery.png");
}

.service-2:checked ~ .services-slider-list {
	background-image: url("../img/guarantee.png");
}

.service-3:checked ~ .services-slider-list {
	background-image: url("../img/credit.png");
}

/***************************************************************** company*/

.company {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 371px;
	margin-top: 78px;
	margin-bottom: 86px;
}

.company-about-us {
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	margin-right: 20px;
}

.company-about-us,
.company-address {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
}

.company h2 {
	width: 620px;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	margin-bottom: 26px;
}

.company-address h2 {
	width: 300px;
}

.company p,
.company h3 {
	width: 180px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	text-align: left;
	margin: 0;
	margin-bottom: 25px;
}

.company h3 {
	margin-bottom: 19px;
}

.company-about-us p {
	width: 520px;
}

.company-address p {
	margin-bottom: 31px;
}

.company-about-us h3 {
	width: 386px;
}

.company-about-us ul {
	padding-left: 36px;
	margin: 0;
	max-width: 500px;
	list-style: none;
}

.company-about-us li{
	
	position: relative;
	font-size: 18px;
	line-height: 20px;
	text-align: left;
	margin-bottom: 20px;
}

.company-about-us li::before {
	content: "";
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	position: absolute;
	left: -36px;
	top: 9px;
}

.company a:not(.map) {
	display: block;
	margin-top: auto;
}

.company-about-us a {
	width: 200px;
}

.company-address a:not(.map) {
	width: 280px;
}

.map {
	display: block;
	background-color: #eae5df;
	height: 158px;
	width: 300px;
	margin-bottom: 15px;
}

/***************************************************************** footer*/
.footer-prime {
	min-width: 960px;
	background-color: #32425c;
}

.footer-other {
	min-width: 960px;
	background-color: #293449;
}

.footer-navigation {
	min-height: 193px;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #f1f5f7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.main-footer-logo {
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	height: 23px;
	color: #ffffff;
	background-color: #ee3643;
	padding: 20px 40px 25px;
	-webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
			box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
	cursor: pointer;
	margin: 0;
}

.footer-navigation-company {
	width: 330px;
	padding-bottom: 5px;
}

.footer-navigation-company p {
	margin: 27px 0 0 4px;
}

.main-footer-phone {
	color: #ffffff;
	margin-left: 3px;
}

.footer-navigation-nav {
	width: 620px;
	padding: 21px 0;
}

.footer-navigation-nav ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
}

.footer-navigation-nav a {
	color: #f1f5f7;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.footer-navigation ul:nth-child(even) a {
	color: #ffd180;
}

.footer-navigation li {
	padding: 16px 0 16px 60px;
}

.footer-external {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	color: #ffffff;
	padding: 32px 0;
}

.footer-external p {
	margin: 0;
	margin-right: 48px;
	width: 235px;
}

.footer-social {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	padding: 0;
	margin: 0 auto; 
}

.social-button {
	display: block;
	font-size: 0;
	background-color: #212a3a;
	background-repeat: no-repeat;
	background-position: center;
	width: 42px;
	height: 42px;
	margin: 3px 3px 0 0;
	border-radius: 21px;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.social-vk {
	background-image: url("../img/icon-vk.svg");
	background-size: 26px 15px;
	background-position: 8px 13px;
}

.social-fb {
	background-image: url("../img/icon-fb.svg"); 
	background-size: 12px 22px;
}

.social-insta {
	background-image: url("../img/icon-insta.svg"); 
	background-size: 21px 21px;
	background-position: 10px 10px;
}

.footer-email {
	width: 150px;
	margin: 0 37px 0 10px;
}

.footer-auth {
	width: 100px;
	margin: 0 11px 0 0;
}

.footer-email p,
.footer-auth p {
	width: 100%;
}

.footer-email a,
.footer-auth a {
	color: #ffd180;
}

/***************************************************************** catalog header*/
.catalog-breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	padding: 21px 0 20px 0;
	list-style: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
}

.catalog-breadcrumbs a {
	color: #000000; 
}

.catalog-breadcrumbs li {
	position: relative;
	margin-right: 40px;
}

.catalog-breadcrumbs li::after {
	width: 8px;
	height: 12px;
	content: "";
	background-image: url("../img/icon-right-small.svg"); 
	background-repeat: no-repeat;
	position: absolute;
	top: 3px;
	right: -25px;
}

.catalog-breadcrumbs a[href="index.html"] {
	display: block;
	width: 14px;
	height: 18px;
	background-image: url("../img/icon-home.svg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 14px 12px;
	font-size: 0;
}

.catalog-breadcrumbs li:last-child::after {
	display: none;
}

.catalog-header h2 {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	background-color: #f2f6f8;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	padding: 30px 30px 29px 29px;
	margin: 0;
}
/***************************************************************** catalog main*/

.catalog-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;	
	font-family: "PT Sans", "Arial", sans-serif;
	margin-top: 20px;
	margin-bottom: 60px;
}

.catalog-main ul{
	list-style: none;
}

.catalog-list {
	margin-left: 20px;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
	width: 700px;
}

/***************************************************************** catalog filter*/

.catalog-filter {
	width: 220px;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
}

.catalog-filter legend {
	padding: 0;
	margin-bottom: 13px;
}

.catalog-filter h3,
.catalog-sorting h3,
.catalog-sorting li {
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 400;
	margin: 0;
}

.catalog-main-title,
.catalog-sorting {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 100%;
	background-color: #f7f3ec;
	margin-bottom: 20px;
	padding: 10px 17px 10px 18px;
}

.catalog-filter h3{
	margin-bottom: 11px;
}

.catalog-filter-form fieldset {
	padding: 0;
	margin: 0;
	margin-bottom: 16px;
	border: none;
	border-bottom: 1px solid #e3e3e3;
}

.catalog-filter-form fieldset:nth-child(1) {
	padding-bottom: 25px;
}

.catalog-filter-form fieldset:nth-child(2) {
	padding-bottom: 5px;
}

.catalog-filter-form fieldset:nth-child(3) {
	border: none; 
	margin-bottom: 60px;
}

.catalog-filter-price-slider {
	position: relative;
	height: 80px;
	background-color: #f7f3ec;
	margin-bottom: 9px;
}

.catalog-filter-price-slider::before,
.catalog-filter-price-slider::after {
	content: "";
	position: absolute;
	width: 180px;
	height: 2px;
	background-color: #d7dcde;
	top: 50%;
	left: 20px;
}

.catalog-filter-price-slider::after {
	width: 150px;
	height: 2px;
	background-color: #03c678;
}

.catalog-filter-price-slider-min,
.catalog-filter-price-slider-max{
	width: 4px;
	height: 4px;
	background-color: #9c9c9c;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1);
			box-shadow: 0 2px 1px 0 rgba(0,0,0,0.1);
	position: absolute;
	top: 31px;
	z-index: 5;
}

.catalog-filter-price-slider-min {
	left: 20px;
}

.catalog-filter-price-slider-max {
	right: 40px;
}

.catalog-filter-price {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	position: relative;
}

.catalog-filter-price::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 1px;
	background-color: #000000;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%);
		-ms-transform: translate(-50%);
			transform: translate(-50%);
}

.catalog-filter-price input {
	padding: 0 3px;
	font-size: 17px;
	height: 38px;
	background-color: #f7f3ec;
	width: 90px;
	border-style: none;
	text-align: center;
}

.catalog-filter-price input:first-child {
	margin-right: auto;
}

.catalog-filter ul {
	padding: 0;
	margin: 0;
}

.catalog-filter-option {
	padding-bottom: 17px;
	font-size: 15px;
	line-height: 23px;
	font-weight: 400;
}

.catalog-filter-option label {
	position: relative;
	cursor: pointer;
	padding: 2px 0 2px 35px;
}

.catalog-filter-option input[type="radio"] + label {
	padding-top: 4px;
}

.catalog-filter-option input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	height: 23px;
	left: 0;
	top: 0;
	opacity: 0.23;
}

.catalog-filter-option input[type="radio"] + label::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	left: 0;
	top: 0;
	opacity: 0.23;
}

.catalog-filter-option input[type="checkbox"]:checked + label::before {
	width: 27px;
	background-image: url("../img/checkbox-on.svg"); 
}

.catalog-filter-option input[type="checkbox"]:not(checked) + label::before {
	width: 23px;
	background-image: url("../img/checkbox-off.svg"); 
}

.catalog-filter-option input[type="radio"]:checked + label::before {
	background-image: url("../img/radio-on.svg"); 
}

.catalog-filter-option input[type="radio"]:not(checked) + label::before {
	background-image: url("../img/radio-off.svg"); 
}

.catalog-filter-option input:disabled + label::before {
	opacity: 0.09;
}

.catalog-filter-form button {
	width: 140px;
	background-color: #ffffff;
	border: solid 1px #e5e5e5;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding: 9px 10px;
	text-transform: uppercase;
	cursor: pointer;
}

/***************************************************************** catalog sorting*/

.catalog-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog-sorting-list a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #ee3643;
	margin-left: 70px;
}

.catalog-sorting-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	margin: 0;
	margin-left: 30px;
	width: 470px;
}

.sorting-current a {
	color: #ee3643;
	border-bottom: none;
}

.catalog-sorting-way {
	margin-left: auto;	
	min-width: 43px;
	line-height: 12px;
}

.catalog-sorting-way-up {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 19px;
	font-size: 0;
	width: 0px;
	height: 0px;
	border: 10px solid #cacaca;
	border-bottom-width: 0px;
	border-left-width: 5px;
	border-right-width: 5px;
	border-left-color: transparent;
	border-right-color: transparent;
}

.catalog-sorting-way-down {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	font-size: 0;
	width: 0px;
	height: 0px;
	border: 10px solid #cacaca;
	border-top-width: 0px;
	border-left-width: 5px;
	border-right-width: 5px;
	border-left-color: transparent;
	border-right-color: transparent;
}

.catalog-result {
	margin-bottom: 32px;
}

/***************************************************************** catalog paginator*/

.catalog-pagination {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
	margin: 0;
	padding: 0;
}

.pagination-item {	
	display: inline-block;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	min-width: 38px;
	font-size: 13px;
	line-height: 36px;
	text-transform: uppercase;
	border: solid 1px #e5e5e5;
	border-radius: 2px;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	margin-right: 10px;
}

.pagination-item-current {
	background-color: #ee3643;
	border-color: #ee3643;
	color: #ffffff;
}

.pagination-item-next {
	min-width: 140px;
}

/***************************************************************** catalog description*/

.catalog-description {
	min-width: 960px;
	background-color: #f4f7f9;
	padding: 65px 0 68px 0;
}

.catalog-description h2 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	margin: 0;
	margin-bottom: 26px;
}

.catalog-description p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	text-align: left;
	margin: 0;
}

/***************************************************************** modal */

.modal {
	display: none;
	position: fixed;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
			box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
	z-index: 10;
}

.modal-show {
	display: block;
	-webkit-animation: show 0.3s;
			animation: show 0.3s;
}

.modal-error {
	-webkit-animation: error 0.3s;
			animation: error 0.3s;
}

.modal-button-close {
	position: absolute;
	width: 21px;
	height: 21px;
	font-size: 0;
	background-color: transparent;
	border: none;
	padding: 0;
	right: 9px;
	top: 9px;
	cursor: pointer;
}

.modal-button-close::before,
.modal-button-close::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 4px;
	background-color: #ee3643;
	top: 9px;
	left: -2px;	
	border-radius: 2px;
}

.modal-button-close::before {
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
}

.modal-button-close::after {
	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

.modal-button-close:focus,
.modal-button-close:active {
	outline: none;
}

.modal-message {
	width: 620px;
	font-size: 18px;
	line-height: 18px;
	text-align: left;
	border-top: 7px solid #ee3643;
}

.modal-message-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-align: end;
		-ms-flex-align: end;
			align-items: flex-end;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	border: none;
	margin: 0;
	padding: 26px 80px 33px;
}

.modal-message-name,
.modal-message-email {
	width: 220px;
	margin-top: 20px;
}

.modal-message-name label,
.modal-message-email label,
.modal-message-content label {
	padding-left: 1px;
}

.modal-message-name input,
.modal-message-email input {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 100%;
	height: 38px;
	border: solid 2px #dee3e4;
	margin-top: 10px;
	padding: 4px 15px 6px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	border-radius: 2px;
}

.modal-message-name input::-webkit-input-placeholder,
.modal-message-email input::-webkit-input-placeholder,
.modal-message-content textarea::-webkit-input-placeholder {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.modal-message-name input:-ms-input-placeholder,
.modal-message-email input:-ms-input-placeholder,
.modal-message-content textarea:-ms-input-placeholder {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.modal-message-name input::-ms-input-placeholder,
.modal-message-email input::-ms-input-placeholder,
.modal-message-content textarea::-ms-input-placeholder {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.modal-message-name input::placeholder,
.modal-message-email input::placeholder,
.modal-message-content textarea::placeholder {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.modal-message-content {
	width: 100%;
	margin-top: 20px;
}

.modal-message-content textarea {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 100%;
	min-height: 114px;
	border: solid 2px #dee3e4;
	border-radius: 2px;
	margin-top: 10px;
	padding: 7px 15px;
	overflow: auto;
	resize: none;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.modal-action {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	padding: 37px 80px;
	background-color: #f4f4f4;
}

.modal-action button {
	width: 100%;
	font-family: "Cuprum", "Arial", sans-serif;
	border: 0;
	cursor: pointer;	
}

.modal-map {
	width: 940px;
	background-color: #565656;
	background-image: url("../img/big-map.jpg");
	background-repeat: no-repeat;
}

.modal-map iframe {
	border: none;
}

.modal-order {
	width: 620px;
	border-top: 7px solid #ee3643;
	padding-top: 47px;
}

.modal-order h2 {
	position: relative;
	font-size: 30px;
	line-height: 66px;
	font-weight: 400;
	text-align: left;
	margin: 0 80px 50px 180px;
}

.modal-order h2::before {
	content: "";	
	width: 66px;
	height: 66px;
	position: absolute;
	background-image: url("../img/modal-check.svg");
	background-repeat: no-repeat;
	left: -100px;
}

.order,
.continue {
	display: inline-block;
	min-width: 200px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	padding: 11px 10px 9px 10px;
	margin: 0;
	background-color: #ee3643;
	border-radius: 2px;
}

.continue {
	background-color: #ffffff;
	color: #000000;
	margin-left: 20px;
}

/***************************************************************** HOVER FOCUS ACTIVE*/
.red-button:hover,
.red-button:focus {
	background-color: #ca2c37;
	outline: none;
}

.red-button:active {
	background-color: #ba2732;
	outline: none;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
	background-color: #ca2c37;
	outline: none;
}

.main-header-logo[href]:active {
	background-color: #ba2732;
}

.main-header-search:hover,
.main-header-search-text:hover,
.main-header-bookmarks:hover,
.main-header-bookmarks:focus,
.main-header-cart:hover,
.main-header-cart:focus {
	background-color: #212a3a;
	outline: none;
}

.main-header-search-text:focus {
	background-color: #ffffff;
	color: #000000;
	outline: none;
}

.main-header-search-text:focus + svg {
	background-color: #ffffff;
}

.main-header-search-text:focus + svg path{
	fill: #ee3643;
	fill-opacity: 1;
}

.main-header-search:focus input::-webkit-input-placeholder {
	color: transparent;
}

.main-header-search:focus input:-ms-input-placeholder {
	color: transparent;
}

.main-header-search:focus input::-ms-input-placeholder {
	color: transparent;
}

.main-header-search:focus input::placeholder {
	color: transparent;
}

.main-header-search:hover path,
.main-header-bookmarks:hover::before,
.main-header-bookmarks:focus::before,
.main-header-cart:hover::before,
.main-header-cart:focus::before {
	fill-opacity: 1;
	opacity: 1;
}

.main-header-bookmarks:active,
.main-header-cart:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.main-header-bookmarks:active::before,
.main-header-cart:active::before {
	opacity: 0.5;
}

.main-header-order:hover,
.main-header-order:focus {
	background-color: #5fbb2d;
	outline: none;
}

.main-header-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.full-cart:hover,
.full-cart:focus {
	background-color: #ca2c37;
}

.full-cart:active {
	background-color: #ba2732;
}

.main-header-authorization-login:hover,
.main-header-authorization-login:focus,
.main-header-authorization-reg:hover,
.main-header-authorization-reg:focus {
	color: #ee3643;
	outline: none;
}

.main-header-authorization-user:hover,
.main-header-authorization-user:focus,
.main-header-authorization-logout:hover,
.main-header-authorization-logout:focus {
	outline: none;
}

.main-header-authorization-login:hover::before,
.main-header-authorization-login:focus::before,
.main-header-authorization-user:hover::before,
.main-header-authorization-user:focus::before,
.main-header-authorization-logout:hover::before,
.main-header-authorization-logout:focus::before {
	opacity: 1;
}

.main-header-authorization-links a:hover,
.main-header-authorization-links a:focus {
	color: #ee3643;
	outline: none;
}

.main-header-authorization-login:active,
.main-header-authorization-reg:active,
.main-header-authorization-user:active,
.main-header-authorization-links a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-header-authorization-login:active::before,
.main-header-authorization-user:active::before,
.main-header-authorization-logout:active::before {
	opacity: 0.23;
}

.main-navigation-list a[href]:hover,
.main-navigation-list a[href]:focus {
	background-color: #293449;
	outline: none;
}

.main-navigation-list li:active {
	background-color: #1d2739;
}

.main-navigation-list a[href]:active {
	color: rgba(255, 255, 255, 0.5);
}

.features-item a:hover,
.features-item a:focus {
	background-color: rgba(0,0,0,0.2);
	outline: none;
}

.features-item a:active {
	background-color: rgba(0,0,0,0.3);
}

.item:hover,
.item:focus,
.popular-brand a:hover,
.popular-brand a:focus {
	-webkit-box-shadow: 0 10px 20px 0 rgba(41, 52, 73, 0.5);
			box-shadow: 0 10px 20px 0 rgba(41, 52, 73, 0.5);
	outline: none;
}

.item:hover .item-actions,
.item:focus .item-actions {
	display: block;
}

.item-buy:hover {
	background-color: #5fbb2d;
	border-color: #5fbb2d;
	border-bottom-color: #367315;
	cursor: pointer;
}

.item-buy:hover::before {
	opacity: 1;
}

.item-bookmark:hover {
	border-color: #32425c;
	cursor: pointer;
}

.item-buy:active {
	background-color: #518534;
	border-color: #518534;
}

.item-bookmark:active,
.popular-brand:active {
	opacity: 0.3;
}

.slide-1:focus ~ .features-slider-controls label[for="slide-1"],
.slide-2:focus ~ .features-slider-controls label[for="slide-2"],
.service-1:focus ~ .services-buttons label[for="service-1"],
.service-2:focus ~ .services-buttons label[for="service-2"],
.service-3:focus ~ .services-buttons label[for="service-3"] {
	outline: 1px dashed #f1f1f1;
}

.services-buttons label[for="service-1"]:hover,
.services-buttons label[for="service-2"]:hover,
.services-buttons label[for="service-3"]:hover {
	border-bottom-color: #293449;
	border-top-color: #405069;
	background-color: #293449;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
	background-color: #ca2c37;
	outline: none;
}

.main-footer-logo:active {
	background-color: #ba2732;
}

.footer-navigation-nav a[href]:hover,
.footer-navigation-nav a[href]:focus,
.footer-external a:hover,
.footer-external a:focus {
	text-decoration: underline;
	outline: none;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
	background-color: #ee3643;
	outline: none;
}

.footer-navigation-nav a[href]:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-external a:active {
	text-decoration: none;
	color: #ee3643;
}

.catalog-filter-price input:focus {
	outline: none;
}

.catalog-sorting-list a:hover,
.catalog-sorting-list a:focus {
	color: #000000;
	outline: none;
}

.catalog-sorting-list a:active {
	color: #ee3643;
	outline: none;
	border: none;
}

.catalog-sorting-way-up:hover,
.catalog-sorting-way-down:hover,
.catalog-sorting-way-up:active,
.catalog-sorting-way-up:focus,
.catalog-sorting-way-down:active,
.catalog-sorting-way-down:focus {
	border-color: #ee3643;
	border-left-color: transparent;
	border-right-color: transparent;
	outline: none;
}

.catalog-filter-option input:hover + label::before,
.catalog-filter-option input:focus + label::before {
	opacity: 0.29;
}

.catalog-filter-price-slider-min:hover,
.catalog-filter-price-slider-min:focus,
.catalog-filter-price-slider-max:hover,
.catalog-filter-price-slider-max:focus {
	border: 9px solid #ffffff;
	-webkit-box-shadow: 0 2px 0 0 rgba(255,255,255,0.3);
			box-shadow: 0 2px 0 0 rgba(255,255,255,0.3);
	border-radius: 50%;
	position: absolute;
	top: 30px;
	cursor: pointer;
}

.pagination-item[href]:hover,
.pagination-item[href]:focus,
.catalog-filter-form button:hover,
.catalog-filter-form button:focus {
	border-color: #bdc6ca;
	outline: none;
}

.pagination-item[href]:active,
.catalog-filter-form button:active {
	border-color: #ee3643;
}

.modal-button-close:hover::before,
.modal-button-close:focus::before,
.modal-button-close:hover::after,
.modal-button-close:focus::after {
	background-color: #ca2c37;
}

.modal-button-close:active::before,
.modal-button-close:active::after {
	background-color: #ba2732;
}

.modal-message-name input:hover,
.modal-message-email input:hover,
.modal-message-content textarea:hover {
	border-color: #b5b5b5;
	outline: none;	
}

.modal-message-name input:focus,
.modal-message-email input:focus,
.modal-message-content textarea:focus {
	border-color: #ee3643;
	outline: none;
}

.modal-message-name input:focus::-webkit-input-placeholder,
.modal-message-email input:focus::-webkit-input-placeholder,
.modal-message-content textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

.modal-message-name input:focus:-ms-input-placeholder,
.modal-message-email input:focus:-ms-input-placeholder,
.modal-message-content textarea:focus:-ms-input-placeholder {
	color: transparent;
}

.modal-message-name input:focus::-ms-input-placeholder,
.modal-message-email input:focus::-ms-input-placeholder,
.modal-message-content textarea:focus::-ms-input-placeholder {
	color: transparent;
}

.modal-message-name input:focus::placeholder,
.modal-message-email input:focus::placeholder,
.modal-message-content textarea:focus::placeholder {
	color: transparent;
}

.order:hover,
.order:focus,
.modal-message input[type="submit"]:hover {
	background-color: #ca2c37;
	outline: none;
	cursor: pointer;
}

.order:active,
.modal-message input[type="submit"]:active {
	background-color: #ba2732;
}

.continue:hover,
.continue:focus {
	-webkit-box-shadow: inset 1px 1px 0 #c5c5c5, inset -1px -1px 0 #c5c5c5;
			box-shadow: inset 1px 1px 0 #c5c5c5, inset -1px -1px 0 #c5c5c5;
}

.continue:active {
	color: rgba(0, 0, 0, 0.3);
}

/***********************************************/

@-webkit-keyframes show {
	0% {
		-webkit-transform: scale(0) translate(-50%,-100px);
				transform: scale(0) translate(-50%,-100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1) translate(-50%,-50%);
				transform: scale(1) translate(-50%,-50%);
		opacity: 1;
	}
}

@keyframes show {
	0% {
		-webkit-transform: scale(0) translate(-50%,-100px);
				transform: scale(0) translate(-50%,-100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1) translate(-50%,-50%);
				transform: scale(1) translate(-50%,-50%);
		opacity: 1;
	}
}

@-webkit-keyframes error {
	0%,
	100% {
		-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate(-52%,-50%);
				transform: translate(-52%,-50%);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate(-48%,-50%);
				transform: translate(-48%,-50%);
	}
}

@keyframes error {
	0%,
	100% {
		-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translate(-52%,-50%);
				transform: translate(-52%,-50%);
	}

	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translate(-48%,-50%);
				transform: translate(-48%,-50%);
	}
}